{% extends "baseform.html" %}
{% block content %}
<p>Кто участвовал в игре {{ currentgame.name }}?</p>
<form action="" method="post" id="upload_form" enctype="multipart/form-data">
    {% csrf_token %}
    <div>
        <p>В списке нет нужной? Добавь новую команду.</p>
        {% csrf_token %}
        {{ form_team }}
        <div>
        <input type="submit" name="newteam" value="Создать!">
        </div>
    </div>
    {{ form_contest }}
    <div>
        <input type="submit" name = "contestteams" value="Сохранить">
        <input type="submit" value="Отмена" onclick="window.location.href='{% url 'brainstorm:smartgames' %}';return false;">
    </div>
</form>
{% endblock %}