{% extends "baseform.html" %}
{% block content %}

<h2>Архив прошедших игр</h2>

{% if games %}
<ul class="list-group">
    {% for game in games %}
    <li class="list-group-item">
    <a href="{% url 'brainstorm:game_detail'  game.id %}" class="btn btn-light" role="button">{{ game.name }} {{ game.date_time|date:"d.m.Y" }}</a>
        {% if user.is_superuser %}
            <div>
            <a href="{% url 'brainstorm:game_questions' game.id %}" class="btn btn-light">Редактировать</a>
            <a href="{% url 'brainstorm:add_contest' game.id %}" class="btn btn-light">Внести участника</a>
            </div>
    </li>
</ul>
        {% endif %}
    {% endfor %}
{% endif %}

{% endblock %}