{% extends "baseform.html" %}
{% block content %}

<h2>{{ game.name }}</h2>

{% if questions %}
<a href="{% url 'brainstorm:export_users_xls' game.id %}">Выгрузить в excel</a>
<p>
<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover dataTables-example">
    <tr>
        <th>Команда</th>
        <th class="d-none d-sm-table-cell">1 тур</th>
        <th class="d-none d-sm-table-cell">2 тур</th>
        <th class="d-none d-sm-table-cell">3 тур</th>
        <th>Общий счет</th>
        <th>Спасено от гроба</th>
        <th>Рейтинг</th>
    </tr>
    {% for i in queryall  %}
    <tr>
        <td>{{ i.name }}</td>
        <td class="d-none d-sm-table-cell">{{ i.firstscore }}</td>
        <td class="d-none d-sm-table-cell">{{ i.secondscore }}</td>
        <td class="d-none d-sm-table-cell">{{ i.thirdscore }}</td>
        <td>{{ i.score }}</td>
        <td>{{ i.coffins_saved }}</td>
        <td>{{ i.rating }}</td>
    </tr>
    {% endfor %}
    </table>
</div>
</p>
<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover dataTables-example">
    <tr>
        <th>Команда</th>
        {% for i in listmax_q %}
            <th>{{ i }}</th>
        {% endfor %}
    </tr>
    {% for contest in contests %}
    <tr>
        <td>{{ contest.team }}</td>
        {% for question in contest.question_set.all|dictsort:"q_number" %}
            <td>
                {% if  question.correct %}
                <i class="fa fa-check" aria-hidden="true"></i>
                {% endif %}
            </td>
        {% endfor %}
    </tr>
    {% endfor %}
    </table>
</div>

{% endif %}

{% endblock %}