{% extends "baseform.html" %}
{% block content %}

<h2>Рейтинг</h2>

{% if rating %}
<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover dataTables-example" >
        <tr>
            <th>Команда</th>
            <th class="d-none d-sm-table-cell">Количество игр</th>
            <th>Верных ответов</th>
            <th>Спасено гробов</th>
            <th>Общий рейтинг</th>
        </tr>
        {% for rteam in rating %}
        <tr>
            <td>{{ rteam.name }}</td>
            <td class="d-none d-sm-table-cell">{{ rteam.game_played }}</td>
            <td>{{ rteam.score }}</td>
            <td>{{ rteam.coffins_saved }}</td>
            <td>{{ rteam.rating }}</td>
        </tr>
        {% endfor %}
    </table>
{% else %}
    <p>Никто не играл:(</p>
</div>
{% endif %}

{% endblock %}